.shifted {
    position: absolute;
    top: 0;
    left: 32.625px;
}

.normal {
    position:absolute;
    top: 56.25px;
    left: 0px;
}

.board-container {
    position: relative;
    width: 650px;
    height: 650px;
}

.button-row {
    max-width: 400px;
}
