/* .hex {
    width: 87px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
} */

.hex-image {
    position: relative;
    opacity: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: filter 0.2s linear;
}

/* .hex {
    width: 65px;
    height: 75px;
    margin-top: 19px;
    margin-bottom: 19px;
} */

.hex {
    width: 65.25px;
    height: 75px;
    margin-top: 18.75px;
    margin-bottom: 18.75px;
}

.hex-image:hover {
    filter: brightness(0.7);
    transition: filter 0.1s linear;
}
